<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Internship Task 2</title>

  <!-- Google Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">

  <!-- CSS -->
<link rel="stylesheet" href="assets/style.css">

</head>

<body>

  <!-- Background -->
  <div class="background"></div>

  <!-- Main Container -->
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
